body {
    margin:0;
}

.container{
    background: #F8FFE8;
background: linear-gradient(to right, #F8FFE8 0%, #E3F5AB 33%, #B7DF2D 100%);

margin-top: 1rem;
padding: 1rem;
}

.draggable{
    padding: 1rem;
    border: 1px solid black;
    background-color: white;
    cursor: move;

/* background: linear-gradient(to right, #CFCFCF 30%, #262905 100%); */


}

.draggable.dragging{
    opacity: .5;  
}